<ion-content>

        

       
        <audio id="bark" src="assets/sounds/dogbark2.mp3"></audio>

    <div cards>
            <div class="grid-full">
              <ion-row>
                <ion-col>
                  <ion-card button="true" onclick="bark()">
                        <ion-card>
                            <ion-img src="/assets/imgs/perro1.jpeg"></ion-img>
                        </ion-card>
                  </ion-card>
                </ion-col>
        
                <ion-col>
                    <ion-card button="true" onclick="bark()">
                            <ion-card>
                                <ion-img src="/assets/imgs/cat1.png"></ion-img>
                            </ion-card>
                    </ion-card>
                </ion-col>
        
                <ion-col>
                        <ion-card button="true">
                            <ion-card>
                                <ion-img src="/assets/imgs/vaca1.jpg"></ion-img>
                            </ion-card>
                        </ion-card>
                </ion-col>

              </ion-row>

              <ion-row>
                    <ion-col>
                      <ion-card button="true">
                            <ion-card>
                                <ion-img src="/assets/imgs/elefante1.jpg"></ion-img>
                            </ion-card>
                      </ion-card>
                    </ion-col>
            
                    <ion-col>
                        <ion-card button="true">
                                <ion-card>
                                    <ion-img src="/assets/imgs/tigre1.jpg"></ion-img>
                                </ion-card>
                        </ion-card>
                    </ion-col>
            
                    <ion-col>
                            <ion-card button="true">
                                <ion-card>
                                    <ion-img src="/assets/imgs/leon1.jpg"></ion-img>
                                </ion-card> 
                            </ion-card>
                    </ion-col>
    
                  </ion-row>
            </div>
    </div>




</ion-content>
